@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_background_tab.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/hero_background_tab_2x.jpg");
    }
  }
}

/* WIDTH 428 */

/* WIDTH 768 */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .page-header {
    padding-top: 24px;
    padding-bottom: 12px;
  }

  .navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }

  .linea-header {
    position: relative;
  }

  .logo {
    margin-right: 120px;
  }

  .linea-header::after {
    content: "";
    bottom: -28px;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
    display: block;
    position: absolute;
    width: 100%;
  }

  .contact-nav {
    display: flex;
    justify-content: space-between;
  }

  .contacts {
    font-style: normal;
  }

  .contact-phone-number {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-phone-number:hover,
  .contact-phone-number:focus {
    color: #404bbf;
  }

  .menu-open-btn {
    display: none;
  }

  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_backgroud.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/hero_background_2x.jpg");
    }
  }

  .hero-container {
    width: 496px;
  }

  .section-hero {
    max-width: 100%;
    padding-bottom: 108px;
  }

  .hero-title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    width: 496px;
  }

  .preference-list {
    gap: 72px 24px;
  }

  .preference-cards {
    flex-basis: calc((100% - 24px) / 2);
  }

  .section-preference-subheadings {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    text-align: start;
  }

  .team-list {
    gap: 64px 24px;
  }

  .footer-container {
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 94px;
  }

  .footer-text {
    max-width: 264px;
    align-items: start;
    margin-right: 24px;
    text-align: start;
  }

  .footer-social {
    margin-bottom: 102px;
    align-items: normal;
  }

  .send-wrap {
    display: flex;
    flex-direction: row;
  }

  .send-title {
    text-align: start;
  }

  .send-input {
    width: 264px;
  }

  .btn-footer {
    margin: 0;
  }

  .send-wrap {
    gap: 24px;
  }

  .social-media-heading {
    text-align: start;
  }

  .navigation-page {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 64px;
    border-radius: 4px;
  }

  .content-list {
    gap: 72px 24px;
    justify-content: space-between;
  }
}

/* WIDTH 768 */

/* WIDTH 1158 */

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .linea-header::after {
    content: "";
    bottom: -32px;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
    display: block;
    position: absolute;
    width: 100%;
  }

  .page-header {
    padding-bottom: 28px;
  }

  .hero-container {
    max-width: 496px;
  }

  .section-hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .header-list-nav {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  .logo {
    margin-right: 76px;
  }

  .team-cards {
    flex-basis: calc((100% - 72px) / 4);
  }

  .team-list {
    gap: 24px;
  }

  .section-doing {
    display: flex;
  }

  .preference-list {
    gap: 24px;
  }

  .preference-cards {
    flex-basis: calc((100% - 72px) / 4);
  }

  .preference-icon {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    width: 264px;
    height: 112px;
  }
  .section-preference-subheadings {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .footer-container {
    flex-wrap: nowrap;
    padding-left: 0;
    align-items: normal;
  }

  .footer-text {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-social {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 80px;
  }

  .media-list {
    flex-wrap: nowrap;
  }

  .navigation-page {
    padding-bottom: 120px;
    padding-top: 96px;
  }

  .navigation-list {
    margin-bottom: 72px;
  }

  .content-list {
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: calc ((100%-48px) / 3); */
    gap: 40px 24px;
  }
}

/* WIDTH 1158 */

@media screen and (min-width: 428px) and (max-width: 768px) {
  .section-preference > .container {
    width: 396px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .section-preference > .container {
    width: 736px;
  }

  .customers-list {
    gap: 24px;
  }
}
