:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
  color: #434455;
  max-width: 1440px;
  margin: 0 auto;
}

/* ==========--------HEADER================== */

.page-header-container {
  display: flex;
  align-items: center;
}

.page-header {
  padding-bottom: 24px;
  padding-top: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.contact-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.linea-header {
  position: relative;
}

.linea-header::after {
  content: "";
  bottom: -28px;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;
  display: block;
  position: absolute;
  width: 100%;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover,
.logo:focus {
  color: #404bbf;
}

.accent-logo-header {
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.contact-phone-number {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-phone-number:hover,
.contact-phone-number:focus {
  color: #404bbf;
}

/* ====================== /HEADER =====================*/

/* =================SECTION 1================== */

.btn {
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--primary-font);
  background-color: #4d5ae5;
  color: #ffffff;
  margin: 0% auto;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.hero-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 496px;
  margin: 0% auto 48px;
}

.section-hero {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/hero_backgroud.jpg");
  background-size: cover;
  background-color: rgba(46, 47, 66, 0.7);
}

/* ================= / SECTION 1================== */

/* ======================SECTION 2 ====================== */

.preference-list {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
}

.section-preference {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  align-items: center;
}

.preference-icon {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  width: 264px;
  height: 112px;
}

/* =====================/ SECTION 2====================== */

/* ======================SECTION 3 ====================== */

.processing-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.processing-cards {
  flex-basis: calc(100-48) / 3;
}

.section-doing {
  padding-bottom: 120px;
}
/* ======================/ SECTION 3 ====================== */

/* =====================SECTION 4===================== */

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-cards {
  flex-basis: calc(100-72) / 4;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-content {
  padding-top: 32px;
  text-align: center;
  padding-bottom: 32px;
}

.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-list-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item :hover,
.social-list-item :hover {
  background-color: #404bbf;
}

/* =====================/ SECTION 4===================== */

/* =====================SECTION 5===================== */

.section-customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  border-color: transparent;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  border-color: #8e8f99;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list :hover,
.customers-list :focus {
  border-color: #404bbf;
}

.customers-list-icon {
  fill: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list :hover > .customers-list-icon,
.customers-list :focus > .customers-list-icon {
  border-color: #404bbf;
  fill: #404bbf;
}

/* =====================/SECTION 5===================== */

/* ================= COMPONENTS================= */
.section-headings {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-subheadings {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-description {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ================= /COMPONENTS================= */

/* ======================FOOTER==================== */
.footer-page {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  padding-bottom: 100px;
  padding-top: 100px;
  display: flex;
  align-items: center;
}

.accent-logo-footer {
  color: #f4f4fd;
  width: 264px;
}

.footer-container {
  display: flex;
}
.logo-footer {
  max-width: 115px;
}
.footer-description {
  margin-top: 16px;
  max-width: 264px;
}

.social-media-heading {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.media-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.media-list-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.media-list-item :hover,
.media-list-item :focus {
  background-color: #31d0aa;
}

.social-footer {
  margin-left: 120px;
}

.media-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-list-icon {
  fill: #f4f4fd;
}

.send-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-left: 80px;
  margin-bottom: 16px;
}

.send-input {
  margin-left: 80px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
}

.send-input::placeholder {
  font-family: var(--primary-font);
  font-style: normal;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
.send-wrap {
  display: flex;
}

.btn-footer {
  display: flex;
  font-family: var(--primary-font);
  width: 165px;
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  border-color: transparent;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
}
.send-icon {
  margin-left: 16px;
  fill: #ffffff;
}

/* ======================/ FOOTER ==================== */

/* ============================PAGE 2================= */

.navigation-page {
  padding-bottom: 120px;
  padding-top: 96px;
}

.navigation-list :hover,
.navigation-list :focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.border-color {
  border-bottom: 1px solid #e7e9fc;
}

.content-list-1 :hover > .content-description {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.content-list-1 :hover .portfolio-top-text,
.content-list-1 :focus .portfolio-top-text {
  transform: translate(0);
}

.content-list-2 :hover > .content-description {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.content-list-2 :hover .portfolio-top-text,
.content-list-2 :focus .portfolio-top-text {
  transform: translate(0);
}

.content-list-3 :hover > .content-description {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.content-list-3 :hover .portfolio-top-text,
.content-list-3 :focus .portfolio-top-text {
  transform: translate(0);
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  border-radius: 4px;
}

.content-list-1 {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-basis: calc(100%-48) / 3;
  margin-bottom: 48px;
}
.content-list-2 {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-basis: calc(100-48) / 3;
  margin-bottom: 48px;
}
.content-list-3 {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-basis: calc(100-48) / 3;
}

.content-description {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cover-top-text {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  padding: 40px 32px 164px 32px;
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

/* =========================== /PAGE 2================= */

/* ===================BUTTONS PAGE 2=============== */
.btn-page {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-page:hover,
.btn-page:focus {
  color: #ffffff;
  background: #404bbf;
}
/* ===================BUTTONS PAGE 2=============== */

.backdrop {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba (23, 26, 36, 0.432);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  padding: 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close :focus,
.modal-close :hover {
  background-color: #404bbf;
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 24px;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-btn {
  display: flex;
  font-family: var(--primary-font);
  font-weight: 500;
  width: 169px;
  height: 56px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border-radius: 4px;
  border-color: transparent;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.input-text {
  display: inline-block;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  font-size: 12px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  outline: transparent;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.check-text {
  display: flex;
  font-family: var(--primary-font);
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #757575;
  margin-bottom: 24px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text span {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-check:checked + .check-text span {
  background-color: #4d5ae5;
  border: none;
  fill: #f4f4fd;
}

.input-check:focus + .check-text span {
  border-color: #4d5ae5;
}

.privacy-link {
  color: #4d5ae5;
  text-decoration-line: underline;
  margin-left: 4px;
}
